.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

section.filters button{
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
    
}

.container.filters button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    padding-left: 5%;
}

.locations{
    border-right: 1px solid #DDDDDD;
}

.filters h3 {
    font-weight: 600;
    margin-bottom: 5%;
}

.filters h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -5px;
}